/* styles.css */

.auth-form-container {
  position: relative;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.sign-up-form-container,
.login-form-container {
  margin-bottom: 20px;
}

.third-party-sign-up span {
  display: flex;
  justify-content: space-between;
}

.login-if-registered {
  text-align: center;
}

.toggle-link {
  cursor: pointer;
}

.auth-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.auth-container.login {
  display: block;
}
