* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Account section css */
.main-account-contianer {
  width: 100%;
  height: 90vh;
  padding: 5px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-container {
  background: whitesmoke;
  width: 500px;
  padding: 25px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.login {
  min-height: 415px;
}
.form-container h2 {
  /* font-size: 25px; */
  line-height: 25px;
  padding-bottom: 10px;
  text-align: center;
  color: blue;
}

.form-container h2:hover {
  color: green;
}

.input-name {
  width: 90%;
  position: relative;
  margin: 20px auto;
}

.email,
.phone,
.lock,
.username {
  position: absolute;
  left: 10px; /* Adjust the left positioning as needed */
  top: 50%;
  transform: translateY(-50%);
  color: blue;
}

.text-name {
  width: 100%;
  padding: 8px 0 8px 40px;
}

.input-name i {
  position: absolute;
  font-size: 18px;
  color: blue;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

.text-name,
.name {
  border: 1px solid #cccccc;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.text-name:hover,
.name:hover {
  background-color: aliceblue;
}

.text-name:focus,
.name:focus {
  border: 1px solid blue;
}

.radio-btn {
  margin: 4px;
}

.check {
  margin-right: 15px;
  position: relative;
}

.check::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 8px;
  vertical-align: -2px;
  border: 2px solid #cccccc;
  padding: 2.5px;
  background-color: transparent;
  background-clip: content-box;
  transition: all 0.2s ease;
}

.check::after {
  border-right: 2px solid black;
  border-top: 2px solid black;
  content: "";
  height: 20px;
  left: 2px;
  position: absolute;
  top: 7px;
  transform: scaleX(-1) rotate(135deg);
  transform-origin: left top;
  display: none;
}

.check-button {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
}

.check-button:hover + .check::before {
  border-color: blue;
}

.check-button:checked + .check::before {
  border-color: green;
}

.check-button:checked + .check::after {
  animation: check 0.2s ease 0s running;
  display: block;
  width: 7px;
  height: 16px;
  border-color: green;
}

.button {
  background-color: blue;
  color: whitesmoke;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

.button:hover {
  background-color: green;
}

p {
  text-align: left;
  padding-left: 25px;
  font-size: 0.8em;
}
p > a {
  text-decoration: none;
  font-size: 1.2em;
}
@media (max-width: 400px) {
  .form-container {
    width: 100%;
    padding: 5px;
  }

  .input-name {
    margin-bottom: -10px;
  }

  .name {
    width: 100%;
    margin-bottom: 10px;
  }
}
